[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
pytest-xdist = "*"
pytest-mock = "*"
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
pre-commit-hooks = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.13"

[scripts]
update_dep = "python update_dependencies.py"
